@page "/admin/approve-room"
<TelerikTabStrip>
    <TabStripTab Title="Chờ xử lý">
        <TelerikToolBar Class="border-bottom-0">
            <ToolBarButton IconClass="fa-solid fa-repeat bh-color-green" OnClick="@(()=> ReLoadDataHandler("Chờ xử lý"))">Làm mới</ToolBarButton>
            <ToolBarButton IconClass="fa-solid fa-check bh-color-green" OnClick="@(()=> ConfirmHandler("Phê duyệt"))">Phê duyệt</ToolBarButton>
            <ToolBarButton IconClass="fa-solid fa-xmark bh-color-red" OnClick="@(()=> ConfirmHandler("Từ chối"))">Từ chối</ToolBarButton>
        </TelerikToolBar>

        <div class="bh-table-content" style=" height: calc(100vh - 215px);">
            <TelerikGrid Data="@ListRoomWaitting"
                         Height="100%"
                         Width="100%"
                         RowHeight="25"
                         Pageable="true"
                         PageSize="50"
                         Sortable="true"
                         Resizable="true"
                         FilterMode="@GridFilterMode.FilterMenu"
                         SelectionMode="@GridSelectionMode.Multiple"
                         ScrollMode="@GridScrollMode.Scrollable"
                         @bind-SelectedItems="@SelectedRoomWaitting">
                <GridSettings>
                    <GridPagerSettings InputType="PagerInputType.Input" />
                </GridSettings>
                <GridAggregates>
                    <GridAggregate Field=@nameof(RoomModel.Id) Aggregate="@GridAggregateType.Count" />
                </GridAggregates>
                <GridColumns>
                    <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
                    <GridColumn Field=@nameof(RoomModel.Id) Width="130px" MaxResizableWidth="130" Title="Mã phòng">
                        <Template>
                            @{
                                var model = (context as RoomModel);
                                <span class="h-link">@model!.Id</span>
                            }
                        </Template>
                        <FooterTemplate>
                            Số dòng: @context.Count
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field=@nameof(RoomModel.Name) Width="170px" Title="Tên Phòng"></GridColumn>
                    <GridColumn Field=@nameof(RoomModel.BHouseId) Width="130px" MaxResizableWidth="130" Title="Mã trọ"></GridColumn>
                    <GridColumn Field=@nameof(RoomModel.BHouseName) Width="170px" Title="Tên Trọ"></GridColumn>
                     @*<GridColumn Field=@nameof(RoomModel.IsDeleted) Width="140px" Title="Hình ảnh">
                        <Template>
                            <BHUploadFileImage ImageUrl="@((context as RoomModel).File_Path)" Accept="image/*" 
                                    CssIcon="w1FileCss" ></BHUploadFileImage>
                        </Template>
                    </GridColumn>*@
                    <GridColumn Field=@nameof(RoomModel.Date_Create) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="120px" Title="Ngày tạo phòng"></GridColumn>
                </GridColumns>
            </TelerikGrid>
        </div>
    </TabStripTab>
    <TabStripTab Title="Tất cả">
         <TelerikToolBar Class="border-bottom-0">
            <ToolBarButton IconClass="fa-solid fa-repeat bh-color-green" OnClick="@(()=> ReLoadDataHandler())">Làm mới</ToolBarButton>
        </TelerikToolBar>
        <div class="bh-table-content" style=" height: calc(100vh - 215px);">
            <TelerikGrid Data="@ListRoomAll"
                         Height="100%"
                         Width="100%"
                         RowHeight="25"
                         Pageable="true"
                         PageSize="50"
                         Sortable="true"
                         Resizable="true"
                         FilterMode="@GridFilterMode.FilterMenu"
                         SelectionMode="@GridSelectionMode.Multiple"
                         ScrollMode="@GridScrollMode.Scrollable"
                         @bind-SelectedItems="@SelectedRoomWaitting">
                <GridSettings>
                    <GridPagerSettings InputType="PagerInputType.Input" />
                </GridSettings>
                <GridAggregates>
                    <GridAggregate Field=@nameof(RoomModel.Id) Aggregate="@GridAggregateType.Count" />
                </GridAggregates>
                <GridColumns>
                    @*<GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>*@
                    <GridColumn Field=@nameof(RoomModel.Id) Width="130px" MaxResizableWidth="150" Title="Mã phòng">
                        <Template>
                            @{
                                var model = (context as RoomModel);
                                <span class="h-link">@model!.Id</span>
                            }
                        </Template>
                        <FooterTemplate>
                            Số dòng: @context.Count
                        </FooterTemplate>
                    </GridColumn>
                    
                    <GridColumn Field=@nameof(RoomModel.Name) Width="170px" Title="Tên Phòng"></GridColumn>
                    <GridColumn Field=@nameof(RoomModel.BHouseId) Width="130px" MaxResizableWidth="130" Title="Mã trọ"></GridColumn>
                    <GridColumn Field=@nameof(RoomModel.BHouseName) Width="170px" Title="Tên Trọ"></GridColumn>
                    @* <GridColumn Field=@nameof(RoomModel.IsDeleted) Width="140px" Title="Hình ảnh">
                        <Template>
                            <BHUploadFileImage ImageUrl="@((context as RoomModel).File_Path)" Accept="image/*" 
                                    CssIcon="w1FileCss" ></BHUploadFileImage>
                        </Template>
                    </GridColumn>*@
                    <GridColumn Field=@nameof(RoomModel.Status) Width="170px" Title="Trạng thái"></GridColumn>
                    <GridColumn Field=@nameof(RoomModel.Date_Create) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="120px" Title="Ngày tạo phòng"></GridColumn>
                     <GridColumn Field=@nameof(RoomModel.Date_Update) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="120px" Title="Ngày xác nhận"></GridColumn>
                </GridColumns>
            </TelerikGrid>
        </div>
    </TabStripTab>
</TelerikTabStrip>


<BHConfirm @ref="@_rDialogs" />