@page "/admin/user"

@*<div class="bh-content-filter">
    <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-12">
            <div class="d-flex ">
                <BHLabel Value="Họ & tên:" IsRequired="true" Style="width: 110px" />
                <div style="width: calc(100% - 110px)">
                    <TelerikTextBox />
                </div>
            </div>
            <div class="d-flex mt-1">
                <BHLabel Value="Họ & tên:" IsRequired="true" Style="width: 110px" />
                <div style="width: calc(100% - 110px)">
                    <TelerikTextBox />
                </div>
            </div>
            <div class="d-flex mt-1">
                <BHLabel Value="Họ & tên:" IsRequired="true" Style="width: 110px" />
                <div style="width: calc(100% - 110px)">
                    <TelerikTextBox />
                </div>
            </div>
        </div>
    </div>
</div>*@
<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton IconClass="fa-solid fa-repeat bh-color-green" OnClick="@(()=> ReLoadDataHandler())">Làm mới</ToolBarButton>
    <ToolBarButton IconClass="fa-solid fa-plus bh-color-green" Enabled="@pIsSupperAdmin" OnClick="@(()=> OnOpenDialogHandler())">Thêm mới</ToolBarButton>
    <ToolBarButton IconClass="fa-solid fa-xmark bh-color-red" Enabled="@pIsSupperAdmin" OnClick="@(()=> ConfirmDeleteHandler())">Xóa dòng</ToolBarButton>
</TelerikToolBar>
<div class="bh-table-content" style=" height: calc(100vh - 150px);">
    <TelerikGrid Data="@ListUser"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="50"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedUsers">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(UserModel.UserId) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
            <GridColumn Field=@nameof(UserModel.UserId) Width="130px" MaxResizableWidth="150" Title="Mã user">
                <Template>
                    @{
                        var model = (context as UserModel);
                        <span class="h-link">@model!.UserId</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(UserModel.FullName) Width="170px" Title="Tên người dùng"></GridColumn>
            <GridColumn Field=@nameof(UserModel.Phone) Width="140px" Title="Số điện thoại"></GridColumn>
            <GridColumn Field=@nameof(UserModel.Email) Width="140px" Title="Email"></GridColumn>
            <GridColumn Field=@nameof(UserModel.Address) Width="140px" Title="Địa chỉ"></GridColumn>
            <GridColumn Field=@nameof(UserModel.Ward_Name) Width="160px" Title="Quận huyện"></GridColumn>
            <GridColumn Field=@nameof(UserModel.Distinct_Name) Width="160px" Title="Phường xã"></GridColumn>
            <GridColumn Field=@nameof(UserModel.City_Name) Width="160px" Title="Tỉnh thành"></GridColumn>
            <GridColumn Field=@nameof(UserModel.IsAdmin) Width="140px" Title="Admin ?">
                <Template>
                    @{
                        var model = (context as UserModel);
                        <TelerikCheckBox @bind-Value="@model!.IsAdmin" Enabled="false" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(UserModel.User_Create) Width="140px" Title="Người tạo"></GridColumn>
            <GridColumn Field=@nameof(UserModel.Date_Create) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="120px" Title="Ngày tạo"></GridColumn>
            <GridColumn Field=@nameof(UserModel.Date_Update) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="120px" Title="Ngày cập nhật"></GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>


<BHDialog @bind-IsVisible="@IsShowDialog"
    IsShowButtons="@pIsSupperAdmin"
    SaveAndClosed="@(()=> SaveDataHandler())"
    SaveAndCreate="@(()=> SaveDataHandler(EnumType.SaveAndCreate))"
    Title="@(IsCreate ? "Thêm mới người dùng" : "Cập nhật người dùng")">
    <EditForm EditContext="@_EditContext" >
        <DataAnnotationsValidator />
        <div>
            <BHLabel Value="Tên người dùng:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@UserUpdate!.FullName" Enabled="@pIsSupperAdmin" Class="bh-link" Id="txtFullName" />
            <BHValidationTooltip ValidationFor="@(()=> UserUpdate.FullName)" Id="txtFullName" />
        </div>
        <div class="mt-2">
            <BHLabel Value="Tên đăng nhập:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@UserUpdate!.UserName" Enabled="@pIsSupperAdmin" Id="txtUserName" />
            <BHValidationTooltip ValidationFor="@(()=> UserUpdate.FullName)" Id="txtUserName" />
        </div>
        <div class="mt-2">
            <BHLabel Value="Mật khẩu:" IsRequired="true" />
            <TelerikTextBox Password="true" @bind-Value="@UserUpdate!.Password" Enabled="@pIsSupperAdmin" Id="txtPassword" />
            <BHValidationTooltip ValidationFor="@(()=> UserUpdate.FullName)" Id="txtPassword" />
        </div>
        <div class="mt-2">
            <BHLabel Value="Số điện thoại:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@UserUpdate!.Phone" Enabled="@pIsSupperAdmin" Id="txtPhone" />
            <BHValidationTooltip ValidationFor="@(()=> UserUpdate.FullName)" Id="txtPhone" />
        </div>
        <div class="mt-2">
            <BHLabel Value="Thành phố:" IsRequired="true" />
            <TelerikComboBox Data="@ListCity"
                Value="@UserUpdate.City_Id"
                ValueExpression="@(() => UserUpdate.City_Id)"
                ValueChanged="@((int value) => OnChangeCityHandler(value))"
                Placeholder="Chọn thành phố..."
                TextField="@nameof(CityModel.Name)"
                ValueField="@nameof(CityModel.Id)"
                Filterable="true"
                ClearButton="false"
                Enabled="@pIsSupperAdmin"
                Id="txtCityId" Width="100%">
            </TelerikComboBox>
            <BHValidationTooltip ValidationFor="@(()=> UserUpdate.City_Id)" Id="txtCityId" />
        </div>
        <div class="mt-2">
            <BHLabel Value="Huyện quận:" IsRequired="true" />
            <TelerikComboBox Data="@ListDistinct"
                Value="@UserUpdate.Distinct_Id"
                ValueExpression="@(() => UserUpdate.Distinct_Id)"
                ValueChanged="@((int value) => OnChangeDistinctHandler(value))"
                Placeholder="Chọn thành phố..."
                TextField="@nameof(CityModel.Name)"
                ValueField="@nameof(CityModel.Id)"
                Filterable="true"
                ClearButton="false"
                Enabled="@pIsSupperAdmin"
                Id="txtDistinct_Id" Width="100%">
            </TelerikComboBox>
            <BHValidationTooltip ValidationFor="@(()=> UserUpdate.Distinct_Id)" Id="txtDistinct_Id" />
        </div>
        <div class="mt-2">
            <BHLabel Value="Xã phường:" IsRequired="true" />
            <TelerikComboBox Data="@ListWard"
                Value="@UserUpdate.Ward_Id"
                ValueExpression="@(() => UserUpdate.Ward_Id)"
                ValueChanged="@((int value) => UserUpdate.Ward_Id = value)"
                Placeholder="Chọn thành phố..."
                TextField="@nameof(CityModel.Name)"
                ValueField="@nameof(CityModel.Id)"
                Filterable="true"
                ClearButton="false"
                Enabled="@pIsSupperAdmin"
                Id="txtWard_Id" Width="100%">
            </TelerikComboBox>
            <BHValidationTooltip ValidationFor="@(()=> UserUpdate.Ward_Id)" Id="txtWard_Id" />
        </div>
        <div class="mt-2">
            <BHLabel Value="Đia chỉ cụ thể:" />
            <TelerikTextBox @bind-Value="@UserUpdate!.Address" Enabled="@pIsSupperAdmin" />
        </div>
        <div class="mt-2">
            <BHLabel Value="Email:" />
            <TelerikTextBox @bind-Value="@UserUpdate!.Email" Enabled="@pIsSupperAdmin" />
        </div>
        <div class="mt-2">
            <TelerikCheckBox Title="Admin?" Enabled="@pIsSupperAdmin" @bind-Value="@UserUpdate!.IsAdmin" />
            <BHLabel Value="Admin? " />
        </div>
    </EditForm>
    
</BHDialog>


<BHConfirm @ref="@_rDialogs" />